templates/AutoApproveRequests/AutoApproveOpenShiftRequestwithEmailNotification/Microsoft.Flow/flows/73415193-e53b-4eca-9804-9f7ee0b782fc/definition.json
{"name":"8989b94d-6639-4604-b5b8-ed798729873b","id":"/providers/Microsoft.Flow/flows/8989b94d-6639-4604-b5b8-ed798729873b","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Auto Approve Open Shift Request with Email Notification","definition":{"metadata":{"workflowEntityId":null,"creator":{"id":"b11aa3f6-1d32-4b32-a10c-33304d91b78f","type":"User","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2020-05-22T06:14:33.5818087Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"Recurrence_(Every_Hour)":{"recurrence":{"frequency":"Hour","interval":1,"startTime":"2020-05-21T17:00:00.000Z"},"type":"Recurrence"}},"actions":{"Shifts:_List_all_Open_Shift_requests":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_teams","connectionName":"shared_teams","operationId":"ListOpenShiftChangeRequests"},"parameters":{"teamId":""},"authentication":"@parameters('$authentication')"}},"Apply_to_each":{"foreach":"@outputs('Shifts:_List_all_Open_Shift_requests')?['body/value']","actions":{"Condition_(Check_if_request_is_in_the_pending_state)":{"actions":{"Get_user_profile_(V2)":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365users","connectionName":"shared_office365users","operationId":"UserProfile_V2"},"parameters":{"id":"@items('Apply_to_each')?['senderUserId']"},"authentication":"@parameters('$authentication')"}},"Send_an_email_(notifying_request_sender_about_the_approval)":{"runAfter":{"Shifts:_Approve_an_Offer_Shift_request":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"@outputs('Get_user_profile_(V2)')?['body/mail']","emailMessage/Subject":"Your request for the Open Shift slot has been approved","emailMessage/Body":"<p>Your request has been approved, please remember to update your calendar!</p>"},"authentication":"@parameters('$authentication')"}},"Shifts:_Approve_an_Offer_Shift_request":{"runAfter":{"Shifts:_Get_an_open_shift":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_teams","connectionName":"shared_teams","operationId":"OfferShiftRequestApprove"},"parameters":{"teamId":"","offerShiftRequestId":"@items('Apply_to_each')?['id']","request/message":"Your request has been auto-approved"},"authentication":"@parameters('$authentication')"}},"Shifts:_Get_an_open_shift":{"runAfter":{"Get_user_profile_(V2)":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_teams","connectionName":"shared_teams","operationId":"GetOpenShift"},"parameters":{"teamId":"","openShiftId":"@items('Apply_to_each')?['openShiftId']"},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"expression":{"equals":["@items('Apply_to_each')?['state']","pending"]},"type":"If"}},"runAfter":{"Shifts:_List_all_Open_Shift_requests":["Succeeded"]},"type":"Foreach"}}},"connectionReferences":{"shared_teams":{"connectionName":"shared-teams-18f4aa8e-75ff-4687-9af9-28eb8b44cf9a","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_teams","tier":"NotSpecified"},"shared_office365users":{"connectionName":"shared-office365user-29485472-d8e6-4b20-ba91-4b88e6f75f51","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_office365users","tier":"NotSpecified"},"shared_office365":{"connectionName":"shared-office365-29e42c1f-a94e-48c7-8a79-c85cc672e324","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_office365","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false}}