PowerBI/List Group Members.json
{"$schema":"https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"logicAppName":{"type":"String","metadata":{"description":"Name of the logic app."}},"logicAppLocation":{"defaultValue":"[resourceGroup().location]","allowedValues":["eastasia","southeastasia","centralus","eastus","eastus2","westus","northcentralus","southcentralus","northeurope","westeurope","japanwest","japaneast","brazilsouth","australiaeast","australiasoutheast","southindia","centralindia","westindia","canadacentral","canadaeast","uaecentral","westcentralus","westus2","[resourceGroup().location]"],"type":"String","metadata":{"description":"Location of the logic app."}}},"resources":[{"type":"Microsoft.Logic/workflows","apiVersion":"2016-06-01","name":"[parameters('logicAppName')]","location":"[parameters('logicAppLocation')]","properties":{"state":"Disabled","definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"type":"Request","kind":"Button","inputs":{"schema":{"type":"object","properties":{},"required":[]}}}},"actions":{"List_group_members":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"ListGroupMembers"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$connections']['office365groups']['connectionId']"}},"method":"get","path":"/v1.0/groups/@{encodeURIComponent('236aad37-5bfd-4c09-bc86-4f09a698e245')}/members","queries":{"$top":999},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Apply_to_each":{"foreach":"@body('List_group_members')?['value']","actions":{"Add_a_row_into_a_table":{"runAfter":{},"metadata":{"01ASTKCU7FG4LTPAJDLNEIZOFEKL2JOA4Z":"/Michael's Test Export.xlsx","flowSystemMetadata":{"swaggerOperationId":"AddRowV2"},"01ASTKCU5DJ6VQENZ6WFB33WUSLRGFIJIS":"/Users Export.xlsx"},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$connections']['excelonlinebusiness']['connectionId']"}},"method":"post","body":{"UserID":"@items('Apply_to_each')?['id']","DisplayName":"@items('Apply_to_each')?['displayName']"},"path":"/codeless/v1.2/drives/@{encodeURIComponent('b!Xkyb9SPteEeyUZPqQcivQ3glgpVTr-dOu3lPx8X-EQmJCBIHuOq_TrnG3-6VObaC')}/items/@{encodeURIComponent('01ASTKCU5DJ6VQENZ6WFB33WUSLRGFIJIS')}/workbook/tables/@{encodeURIComponent('{7C1CC530-2830-4F3A-8861-5D65CDB3AAB3}')}/rows","queries":{"source":"me"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{"List_group_members":["Succeeded"]},"type":"Foreach"}}},"parameters":{},"runtimeConfiguration":{"lifetime":{"unit":"Day","count":30},"collections":{"maximumItemCount":5000},"performanceProfile":{"throttles":{"mode":"Low"}},"retryPolicy":{"type":"Exponential","interval":"PT5M","count":2,"minimumInterval":"PT5M","maximumInterval":"PT1H"}}}}]}