templates/AutoApproveRequests/AutoApproveOpenShiftRequest/Microsoft.Flow/flows/496d916e-96a8-4e9a-b9af-4c3d420cfacf/definition.json
{"name":"27afab33-2e91-4028-aab9-c8449382e335","id":"/providers/Microsoft.Flow/flows/27afab33-2e91-4028-aab9-c8449382e335","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Auto Approve Open Shift Request","definition":{"metadata":{"workflowEntityId":null,"creator":{"id":"b11aa3f6-1d32-4b32-a10c-33304d91b78f","type":"User","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2020-06-10T23:08:57.660709Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"Recurrence_(Every_Hour)":{"recurrence":{"frequency":"Hour","interval":1,"startTime":"2020-05-21T17:00:00.000Z"},"type":"Recurrence"}},"actions":{"List_all_Open_Shift_requests":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_shifts","connectionName":"shared_shifts","operationId":"ListOpenShiftChangeRequests"},"parameters":{"teamId":"","state":"pending"},"authentication":"@parameters('$authentication')"}},"Apply_to_each":{"foreach":"@outputs('List_all_Open_Shift_requests')?['body/value']","actions":{"Condition_(Check_if_the_request_is_assigned_to_a_manager_for_approval)":{"actions":{"Approve_an_Open_Shift_request":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_shifts","connectionName":"shared_shifts","operationId":"OpenShiftChangeRequestApprove"},"parameters":{"teamId":"","openShiftChangeRequestId":"@items('Apply_to_each')?['id']","request/message":"Your request has been auto-approved"},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"expression":{"equals":["","manager"]},"type":"If"}},"runAfter":{"List_all_Open_Shift_requests":["Succeeded"]},"type":"Foreach"}}},"connectionReferences":{"shared_shifts":{"connectionName":"shared-shifts-4248a26c-c7aa-476e-b11b-f488a44d2dfc","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_shifts","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false}}