templates/Calendar/ShareMyShiftsasiCalendarFeed/Microsoft.Flow/flows/d4f9de99-24f5-412c-96e8-c32b120cc043/definition.json
{"name":"632ef246-ef66-430f-8eca-a0f4a81df9a5","id":"/providers/Microsoft.Flow/flows/632ef246-ef66-430f-8eca-a0f4a81df9a5","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Share My Shifts as iCalendar Feed","definition":{"metadata":{"workflowEntityId":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"creator":{"id":"b11aa3f6-1d32-4b32-a10c-33304d91b78f","type":"User","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2020-07-28T19:18:03.8697056Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"type":"Request","kind":"Http","inputs":{"schema":{},"method":"GET"}}},"actions":{"List_all_shifts":{"runAfter":{"Get_a_schedule's_details":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_shifts","connectionName":"shared_shifts_1","operationId":"ListShifts"},"parameters":{"teamId":"@outputs('Get_a_team')?['body/id']","startTime":"@addDays(utcNow(), -10)","endTime":"@addDays(utcNow(), 30)","$top":300},"authentication":"@parameters('$authentication')"}},"Apply_to_each":{"foreach":"@outputs('List_all_shifts')?['body/value']","actions":{"Condition":{"actions":{"Set_the_shift_theme_variable":{"runAfter":{},"type":"SetVariable","inputs":{"name":"theme","value":"@items('Apply_to_each')?['sharedShift/theme']"}},"Append_shift_to_response":{"runAfter":{"Set_the_theme_css_color_variable_based_on_the_shift_theme":["Succeeded"]},"type":"AppendToStringVariable","inputs":{"name":"Response","value":"BEGIN:VEVENT@{uriComponentToString('%0D')}\nCREATED:@{formatDateTime(if(equals(items('Apply_to_each')?['createdDateTime'], null), items('Apply_to_each')?['lastModifiedDateTime'], items('Apply_to_each')?['createdDateTime']),'yyyyMMddTHHmmssZ')}@{uriComponentToString('%0D')}\nDTEND:@{formatDateTime(items('Apply_to_each')?['sharedShift/endDateTime'], 'yyyyMMddTHHmmssZ')}@{uriComponentToString('%0D')}\nDTSTAMP:@{formatDateTime(utcNow(), 'yyyyMMddTHHmmssZ')}@{uriComponentToString('%0D')}\nDTSTART:@{formatDateTime(items('Apply_to_each')?['sharedShift/startDateTime'], 'yyyyMMddTHHmmssZ')}@{uriComponentToString('%0D')}\nLAST-MODIFIED:@{formatDateTime(items('Apply_to_each')?['lastModifiedDateTime'], 'yyyyMMddTHHmmssZ')}@{uriComponentToString('%0D')}\nSUMMARY:Shift @{items('Apply_to_each')?['sharedShift/displayName']}@{uriComponentToString('%0D')}\nUID:@{items('Apply_to_each')?['id']}@{uriComponentToString('%0D')}\nDESCRIPTION:@{items('Apply_to_each')?['sharedShift/notes']}@{uriComponentToString('%0D')}\nX-ALT-DESC;FMTTYPE=text/html:<HTML><BODY><P DIR=LTR><SPAN LANG=\"en-us\"><FONT FACE=\"Calibri\"><div style=\"border-left: 5px solid @{variables('theme_css')}; padding-left: 5px;\"><B>@{items('Apply_to_each')?['sharedShift/displayName']}</B> @ @{outputs('Get_a_team')?['body/displayName']}</div> @{items('Apply_to_each')?['sharedShift/notes']}<BR /> <I> (<a href=\"https://teams.microsoft.com/l/entity/42f6c1da-a241-483a-a3cc-4f5be9185951/shifts?webUrl=https://flw.teams.com/app?subEntityId=groups/@{outputs('Get_a_team')?['body/id']}/schedules?shift=@{items('Apply_to_each')?['id']}\">view details</a>)\n </I></FONT></SPAN></P></BODY></HTML>@{uriComponentToString('%0D')}\nCOLOR:@{variables('theme_css')}@{uriComponentToString('%0D')}\nEND:VEVENT@{uriComponentToString('%0D')}\n"}},"Set_the_theme_css_color_variable_based_on_the_shift_theme":{"runAfter":{"Set_the_shift_theme_variable":["Succeeded"]},"type":"SetVariable","inputs":{"name":"theme_css","value":"@{if(equals(variables('theme'), 'white'), 'silver',if(equals(variables('theme'), 'blue'), 'DodgerBlue',if(equals(variables('theme'), 'green'), 'YellowGreen', if(equals(variables('theme'), 'purple'), 'MediumPurple', if(equals(variables('theme'), 'pink'), 'HotPink', if(equals(variables('theme'), 'yellow'), 'Gold', if(equals(variables('theme'), 'gray'), 'Black', if(equals(variables('theme'), 'darkBlue'), 'MediumBlue', if(equals(variables('theme'), 'darkGreen'), 'DarkGreen', if(equals(variables('theme'), 'darkPurple'), 'DarkSlateBlue', if(equals(variables('theme'), 'darkPink'), 'DarkRed', if(equals(variables('theme'), 'darkYellow'), 'Gold', 'silver'))))))))))))}"}}},"runAfter":{},"expression":{"and":[{"not":{"equals":["@items('Apply_to_each')?['sharedShift/startDateTime']","@null"]}},{"not":{"equals":["@items('Apply_to_each')?['sharedShift/endDateTime']","@null"]}},{"equals":["@items('Apply_to_each')?['userId']","@outputs('Get_my_profile_(V2)')?['body/id']"]}]},"type":"If"}},"runAfter":{"Initialize_variable:_theme_css":["Succeeded"]},"type":"Foreach","runtimeConfiguration":{"concurrency":{"repetitions":20}}},"Response":{"runAfter":{"Append_calendar_end_to_response":["Succeeded"]},"type":"Response","kind":"Http","inputs":{"statusCode":200,"headers":{"Content-type":"text/calendar"},"body":"@variables('Response')"}},"Initialize_response_variable":{"runAfter":{"List_all_shifts":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"Response","type":"string","value":"BEGIN:VCALENDAR@{uriComponentToString('%0D')}\nVERSION:2.0@{uriComponentToString('%0D')}\nPRODID:-//Shifts Schedule//NONSGML HandCal//EN@{uriComponentToString('%0D')}\nREFRESH-INTERVAL;VALUE=DURATION:P1H@{uriComponentToString('%0D')}\nNAME: Shifts - @{outputs('Get_a_team')?['body/displayName']}@{uriComponentToString('%0D')}\nX-WR-CALNAME: Shifts - @{outputs('Get_a_team')?['body/displayName']}@{uriComponentToString('%0D')}\nDESCRIPTION: My Shifts Schedule@{uriComponentToString('%0D')}\nX-WR-CALDESC:My Shifts Schedule@{uriComponentToString('%0D')}\nTIMEZONE-ID:@{outputs('Get_a_schedule''s_details')?['body/timeZone']}@{uriComponentToString('%0D')}\nX-WR-TIMEZONE:@{outputs('Get_a_schedule''s_details')?['body/timeZone']}@{uriComponentToString('%0D')}\nREFRESH-INTERVAL;VALUE=DURATION:PT1H@{uriComponentToString('%0D')}\nX-PUBLISHED-TTL:PT1H@{uriComponentToString('%0D')}\n"}]}},"Append_calendar_end_to_response":{"runAfter":{"Apply_to_each":["Succeeded"]},"type":"AppendToStringVariable","inputs":{"name":"Response","value":"END:VCALENDAR@{uriComponentToString('%0D')}\n"}},"Get_my_profile_(V2)":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365users","connectionName":"shared_office365users","operationId":"MyProfile_V2"},"parameters":{},"authentication":"@parameters('$authentication')"}},"Get_a_schedule's_details":{"runAfter":{"Get_a_team":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_shifts","connectionName":"shared_shifts_1","operationId":"GetSchedule"},"parameters":{"teamId":"@outputs('Get_a_team')?['body/id']"},"authentication":"@parameters('$authentication')"}},"Get_a_team":{"runAfter":{"Get_my_profile_(V2)":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_teams","connectionName":"shared_teams","operationId":"GetTeam"},"parameters":{"teamId":""},"authentication":"@parameters('$authentication')"}},"Initialize_variable:_theme":{"runAfter":{"Initialize_response_variable":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"theme","type":"string"}]}},"Initialize_variable:_theme_css":{"runAfter":{"Initialize_variable:_theme":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"theme_css","type":"string"}]}}},"outputs":{}},"connectionReferences":{"shared_shifts_1":{"connectionName":"shared-shifts-4248a26c-c7aa-476e-b11b-f488a44d2dfc","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_shifts","tier":"NotSpecified"},"shared_office365users":{"connectionName":"shared-office365user-29485472-d8e6-4b20-ba91-4b88e6f75f51","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_office365users","tier":"NotSpecified"},"shared_teams":{"connectionName":"shared-teams-18f4aa8e-75ff-4687-9af9-28eb8b44cf9a","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_teams","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false}}