templates/AutoApproveRequests/AutoApproveSwapShiftsRequests/Microsoft.Flow/flows/3dfb1bbe-2c7d-4488-b554-b79af29fa0ec/definition.json
{"name":"b2d49397-9d2f-46f6-be60-d7e82309f29f","id":"/providers/Microsoft.Flow/flows/b2d49397-9d2f-46f6-be60-d7e82309f29f","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Auto Approve Swap Shifts Requests","definition":{"metadata":{"workflowEntityId":null,"creator":{"id":"b11aa3f6-1d32-4b32-a10c-33304d91b78f","type":"User","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2020-06-10T22:03:31.2765209Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"Recurrence":{"recurrence":{"frequency":"Hour","interval":1,"startTime":"2020-05-21T17:00:00.000Z"},"type":"Recurrence"}},"actions":{"List_all_Swap_Shifts_requests":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_shifts","connectionName":"shared_shifts","operationId":"ListSwapShiftsChangeRequests"},"parameters":{"teamId":"","state":"pending"},"authentication":"@parameters('$authentication')"}},"Apply_to_each_request":{"foreach":"@outputs('List_all_Swap_Shifts_requests')?['body/value']","actions":{"Check_if_the_request_is_assigned_to_the_manager_for_approval":{"actions":{"Approve_a_Swap_Shifts_request":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_shifts","connectionName":"shared_shifts","operationId":"SwapShiftsChangeRequestApprove"},"parameters":{"teamId":"","swapShiftsChangeRequestId":"@items('Apply_to_each_request')?['id']","request/message":"This request has been auto-approved"},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"expression":{"equals":["","manager"]},"type":"If"}},"runAfter":{"List_all_Swap_Shifts_requests":["Succeeded"]},"type":"Foreach"}}},"connectionReferences":{"shared_shifts":{"connectionName":"shared-shifts-4248a26c-c7aa-476e-b11b-f488a44d2dfc","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_shifts","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false}}