templates/AutoApproveRequests/AutoConvertShiftToOpenShift/Microsoft.Flow/flows/1859c201-a29a-4748-b53b-12a2f2454588/definition.json
{"name":"41ce81b7-6892-4f2c-8083-0a79d0b1bade","id":"/providers/Microsoft.Flow/flows/41ce81b7-6892-4f2c-8083-0a79d0b1bade","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Convert Shift to Open Shift","definition":{"metadata":{"workflowEntityId":null,"creator":{"id":"b11aa3f6-1d32-4b32-a10c-33304d91b78f","type":"User","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2020-07-15T05:07:42.7701071Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"Recurrence":{"recurrence":{"frequency":"Hour","interval":1,"startTime":"2020-07-14T17:00:00.000Z"},"type":"Recurrence"}},"actions":{"Initialize_variable:_foundMatchingOpenShift":{"runAfter":{"List_all_Offer_Shift_requests_(that_are_pending_action)":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"foundMatchingOpenShift","type":"boolean","value":false}]}},"Initialize_variable:_foundOpenShiftSlotCount":{"runAfter":{"Initialize_variable:_foundMatchingOpenShift":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"foundOpenShiftSlotCount","type":"integer","value":0}]}},"List_all_Offer_Shift_requests_(that_are_pending_action)":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_shifts","connectionName":"shared_shifts","operationId":"ListOfferShiftRequests"},"parameters":{"teamId":"","state":"pending"},"authentication":"@parameters('$authentication')"}},"Apply_to_each":{"foreach":"@outputs('List_all_Offer_Shift_requests_(that_are_pending_action)')?['body/value']","actions":{"Condition:_Shift_being_offered_directly_to_manager":{"actions":{"Get_a_shift_(the_shift_being_offered)":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_shifts","connectionName":"shared_shifts","operationId":"GetShift"},"parameters":{"teamId":"","shiftId":"@items('Apply_to_each')?['senderShiftId']"},"authentication":"@parameters('$authentication')"}},"List_all_Open_Shifts_(that_overlap_with_offered_shift)":{"runAfter":{"Get_a_shift_(the_shift_being_offered)":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_shifts","connectionName":"shared_shifts","operationId":"ListOpenShifts"},"parameters":{"teamId":"","startTime":"@outputs('Get_a_shift_(the_shift_being_offered)')?['body/sharedShift/startDateTime']","endTime":"@outputs('Get_a_shift_(the_shift_being_offered)')?['body/sharedShift/endDateTime']"},"authentication":"@parameters('$authentication')"}},"Search_for_an_Open_Shift_that_matches_the_offered_Shift":{"foreach":"@outputs('List_all_Open_Shifts_(that_overlap_with_offered_shift)')?['body/value']","actions":{"Condition:_Compare_startTime,_endTime,_theme_and_scheduling_group_ID":{"actions":{"Set_variable:_foundMatchingOpenShift":{"runAfter":{},"type":"SetVariable","inputs":{"name":"foundMatchingOpenShift","value":true}},"Set_variable:_foundOpenShiftSlotCount":{"runAfter":{"Set_variable:_foundMatchingOpenShift":["Succeeded"]},"type":"SetVariable","inputs":{"name":"foundOpenShiftSlotCount","value":"@items('Search_for_an_Open_Shift_that_matches_the_offered_Shift')?['sharedOpenShift/openSlotCount']"}},"Increment_variable:_foundOpenShiftSlotCount":{"runAfter":{"Set_variable:_foundOpenShiftSlotCount":["Succeeded"]},"type":"IncrementVariable","inputs":{"name":"foundOpenShiftSlotCount","value":1}},"Update_the_Open_Shift_(with_the_incremented_count)":{"runAfter":{"Increment_variable:_foundOpenShiftSlotCount":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_shifts","connectionName":"shared_shifts","operationId":"UpdateOpenShift"},"parameters":{"teamId":"","openShiftId":"@items('Search_for_an_Open_Shift_that_matches_the_offered_Shift')?['id']","request/schedulingGroupId":"@items('Search_for_an_Open_Shift_that_matches_the_offered_Shift')?['schedulingGroupId']","request/sharedOpenShift/startDateTime":"@items('Search_for_an_Open_Shift_that_matches_the_offered_Shift')?['sharedOpenShift/startDateTime']","request/sharedOpenShift/endDateTime":"@items('Search_for_an_Open_Shift_that_matches_the_offered_Shift')?['sharedOpenShift/endDateTime']","request/sharedOpenShift/openSlotCount":"@variables('foundOpenShiftSlotCount')","request/sharedOpenShift/displayName":"@items('Search_for_an_Open_Shift_that_matches_the_offered_Shift')?['sharedOpenShift/displayName']","request/sharedOpenShift/notes":"@items('Search_for_an_Open_Shift_that_matches_the_offered_Shift')?['sharedOpenShift/notes']","request/sharedOpenShift/theme":"@items('Search_for_an_Open_Shift_that_matches_the_offered_Shift')?['sharedOpenShift/theme']","request/sharedOpenShift/activities":"@items('Search_for_an_Open_Shift_that_matches_the_offered_Shift')?['sharedOpenShift/activities']"},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"expression":{"and":[{"equals":["@items('Search_for_an_Open_Shift_that_matches_the_offered_Shift')?['sharedOpenShift/startDateTime']","@outputs('Get_a_shift_(the_shift_being_offered)')?['body/sharedShift/startDateTime']"]},{"equals":["@items('Search_for_an_Open_Shift_that_matches_the_offered_Shift')?['sharedOpenShift/endDateTime']","@outputs('Get_a_shift_(the_shift_being_offered)')?['body/sharedShift/endDateTime']"]},{"equals":["@items('Search_for_an_Open_Shift_that_matches_the_offered_Shift')?['sharedOpenShift/theme']","@outputs('Get_a_shift_(the_shift_being_offered)')?['body/sharedShift/theme']"]},{"equals":["@items('Search_for_an_Open_Shift_that_matches_the_offered_Shift')?['schedulingGroupId']","@outputs('Get_a_shift_(the_shift_being_offered)')?['body/schedulingGroupId']"]}]},"type":"If"}},"runAfter":{"List_all_Open_Shifts_(that_overlap_with_offered_shift)":["Succeeded"]},"type":"Foreach"},"Condition:_If_matching_open_shift_is_not_found,_create_a_new_Open_Shift":{"actions":{"Create_a_new_Open_Shift_(with_the_properties_of_the_offered_shift)":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_shifts","connectionName":"shared_shifts","operationId":"CreateOpenShift"},"parameters":{"teamId":"","request/schedulingGroupId":"@outputs('Get_a_shift_(the_shift_being_offered)')?['body/schedulingGroupId']","request/sharedOpenShift/startDateTime":"@outputs('Get_a_shift_(the_shift_being_offered)')?['body/sharedShift/startDateTime']","request/sharedOpenShift/endDateTime":"@outputs('Get_a_shift_(the_shift_being_offered)')?['body/sharedShift/endDateTime']","request/sharedOpenShift/openSlotCount":1,"request/sharedOpenShift/displayName":"@outputs('Get_a_shift_(the_shift_being_offered)')?['body/sharedShift/displayName']","request/sharedOpenShift/notes":"@outputs('Get_a_shift_(the_shift_being_offered)')?['body/sharedShift/notes']","request/sharedOpenShift/theme":"@outputs('Get_a_shift_(the_shift_being_offered)')?['body/sharedShift/theme']","request/sharedOpenShift/activities":"@outputs('Get_a_shift_(the_shift_being_offered)')?['body/sharedShift/activities']"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Search_for_an_Open_Shift_that_matches_the_offered_Shift":["Succeeded"]},"expression":{"equals":["@variables('foundMatchingOpenShift')",false]},"type":"If"},"Decline_an_Offer_Shift_request":{"runAfter":{"Condition:_If_matching_open_shift_is_not_found,_create_a_new_Open_Shift":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_shifts","connectionName":"shared_shifts","operationId":"OfferShiftRequestDecline"},"parameters":{"teamId":"","offerShiftRequestId":"@items('Apply_to_each')?['id']","request/message":"Auto-declined: Your Shift will be converted back into an Open Shift"},"authentication":"@parameters('$authentication')"}},"Delete_a_shift_(that_was_offered,_it's_now_an_open_shift)":{"runAfter":{"Decline_an_Offer_Shift_request":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_shifts","connectionName":"shared_shifts","operationId":"DeleteShift"},"parameters":{"teamId":"","shiftId":"@items('Apply_to_each')?['senderShiftId']"},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"expression":{"equals":["@items('Apply_to_each')?['assignedTo']","recipient"]},"type":"If"}},"runAfter":{"Initialize_variable:_foundOpenShiftSlotCount":["Succeeded"]},"type":"Foreach"}}},"connectionReferences":{"shared_shifts":{"connectionName":"shared-shifts-36603b53-f125-4d15-8541-faf6c68ce764","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_shifts","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false}}