templates/AutoApproveRequests/AutoAcceptSwapRequestsandEmailNotify/Microsoft.Flow/flows/850217b0-90b7-4519-82c6-217b583eca01/definition.json
{"name":"b391b338-fb58-4aa9-bf98-afae7e58a7e6","id":"/providers/Microsoft.Flow/flows/b391b338-fb58-4aa9-bf98-afae7e58a7e6","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Auto Approve Swap Requests with Email Notification","definition":{"metadata":{"workflowEntityId":null,"creator":{"id":"b11aa3f6-1d32-4b32-a10c-33304d91b78f","type":"User","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2020-06-10T22:26:42.7957812Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"Recurrence_(Every_Hour)":{"recurrence":{"frequency":"Hour","interval":1,"startTime":"2020-05-23T17:00:00.000Z"},"type":"Recurrence"}},"actions":{"List_all_Swap_Shifts_requests":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_shifts","connectionName":"shared_shifts_1","operationId":"ListSwapShiftsChangeRequests"},"parameters":{"teamId":"","state":"pending"},"authentication":"@parameters('$authentication')"}},"Apply_to_each_3":{"foreach":"@outputs('List_all_Swap_Shifts_requests')?['body/value']","actions":{"Condition_(Check_if_request_assigned_to_the_manager_for_approval)":{"actions":{"Get_user_profile_(of_request_sender)":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365users","connectionName":"shared_office365users","operationId":"UserProfile_V2"},"parameters":{"id":"@items('Apply_to_each_3')?['senderUserId']"},"authentication":"@parameters('$authentication')"}},"Get_user_profile_(of_request_recipient)":{"runAfter":{"Get_user_profile_(of_request_sender)":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365users","connectionName":"shared_office365users","operationId":"UserProfile_V2"},"parameters":{"id":"@items('Apply_to_each_3')?['recipientUserId']"},"authentication":"@parameters('$authentication')"}},"Approve_a_Swap_Shifts_request":{"runAfter":{"Get_user_profile_(of_request_recipient)":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_shifts","connectionName":"shared_shifts_1","operationId":"SwapShiftsChangeRequestApprove"},"parameters":{"teamId":"","swapShiftsChangeRequestId":"@items('Apply_to_each_3')?['id']","request/message":"Your request has been auto-approved"},"authentication":"@parameters('$authentication')"}},"Send_an_email_(V2)":{"runAfter":{"Approve_a_Swap_Shifts_request":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"@{outputs('Get_user_profile_(of_request_sender)')?['body/mail']};@{outputs('Get_user_profile_(of_request_recipient)')?['body/mail']}","emailMessage/Subject":"Your swap request has been approved.","emailMessage/Body":"<p>Hi @{outputs('Get_user_profile_(of_request_sender)')?['body/givenName']} and @{outputs('Get_user_profile_(of_request_recipient)')?['body/givenName']},<br>\n<br>\nYour swap request has been automatically approved. Please update your calendars.</p>"},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"expression":{"equals":["@items('Apply_to_each_3')?['assignedTo']","manager"]},"type":"If"}},"runAfter":{"List_all_Swap_Shifts_requests":["Succeeded"]},"type":"Foreach"}}},"connectionReferences":{"shared_shifts_1":{"connectionName":"shared-shifts-36603b53-f125-4d15-8541-faf6c68ce764","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_shifts","tier":"NotSpecified"},"shared_office365users":{"connectionName":"shared-office365user-29485472-d8e6-4b20-ba91-4b88e6f75f51","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_office365users","tier":"NotSpecified"},"shared_office365":{"connectionName":"shared-office365-29e42c1f-a94e-48c7-8a79-c85cc672e324","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_office365","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false}}