templates/AutoApproveRequests/AutoApproveOfferShiftRequests/Microsoft.Flow/flows/3dfb1bbe-2c7d-4488-b554-b79af29fa0ec/definition.json
{"name":"ed1d755d-8281-44ce-a95e-20de7104f032","id":"/providers/Microsoft.Flow/flows/ed1d755d-8281-44ce-a95e-20de7104f032","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Auto Approve Offer Shift Requests","definition":{"metadata":{"workflowEntityId":null,"creator":{"id":"b11aa3f6-1d32-4b32-a10c-33304d91b78f","type":"User","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2020-06-11T19:42:02.4281554Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"Recurrence":{"recurrence":{"frequency":"Hour","interval":1,"startTime":"2020-05-21T17:00:00.000Z"},"type":"Recurrence"}},"actions":{"List_all_Offer_Shift_requests_(pending_user_action)":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_shifts","connectionName":"shared_shifts","operationId":"ListOfferShiftRequests"},"parameters":{"teamId":"","state":"pending"},"authentication":"@parameters('$authentication')"}},"Apply_to_each_request":{"foreach":"@outputs('List_all_Offer_Shift_requests_(pending_user_action)')?['body/value']","actions":{"Condition:_Assigned_to_the_manager_for_approval":{"actions":{"Approve_an_Offer_Shift_request":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_shifts","connectionName":"shared_shifts","operationId":"OfferShiftRequestApprove"},"parameters":{"teamId":"","offerShiftRequestId":"@items('Apply_to_each_request')?['id']","request/message":"This request has been auto-approved"},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"expression":{"equals":["","manager"]},"type":"If"}},"runAfter":{"List_all_Offer_Shift_requests_(pending_user_action)":["Succeeded"]},"type":"Foreach"}}},"connectionReferences":{"shared_shifts":{"connectionName":"shared-shifts-36603b53-f125-4d15-8541-faf6c68ce764","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_shifts","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false}}